{%extends 'template.html'%} {% block conteudo%}

<div class="content">
	<div class="container">
		<div class="row">
			<div class="span12">

				<div class="contact">
					<div class="row">
						<div class="span12">

							<div class="hero">
								<h3>
									<span>Contato</span>
								</h3>
								<p>Praesent at tellus porttitor nisl porttitor sagittis.
									Mauris in massa ligula, a tempor nulla. Ut tempus interdum
									mauris vel vehicula. Nulla ullamcorper tortor commodo in
									sagittis est accumsan.</p>
							</div>

							<div class="contact">
								<div class="row">
									<div class="span12"></div>
								</div>
								<div class="row">
									<div class="span6">
										<div class="cwell">
											<h5>Formulario de Contato</h5>
											<hr />
											<div class="form">
												<form class="form-horizontal" action="/contato" method="post">
													<div class="control-group">
														<label class="control-label" for="name">Nome</label>
														<div class="controls">
															<input type="text" class="input-medium" id="name">
														</div>
													</div>
													<div class="control-group">
														<label class="control-label" for="email">Email</label>
														<div class="controls">
															<input type="text" class="input-medium" id="email">
														</div>
													</div>
													<div class="control-group">
														<label class="control-label" for="comment">Comentário</label>
														<div class="controls">
															<textarea class="input-madium" id="comment" rows="3"></textarea>
														</div>
													</div>
													<div class="form-actions">
														<button type="submit" class="btn">Enviar</button>
														<button type="reset" class="btn">Limpar</button>
													</div>
												</form>
											</div>
											<hr />

											<div class="csoci">
 												<strong>Entre em contato:</strong>
												<div class="social">
													<a href="#"><i class="icon-facebook"></i></a> <a href="#"><i
														class="icon-twitter"></i></a> <a href="#"><i
														class="icon-linkedin"></i></a> <a href="#"><i
														class="icon-google-plus"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="span6">
										<div class="cwell">
											<!-- Google maps -->
											<div class="gmap">
												<!-- Google Maps. Replace the below iframe with your Google Maps embed code -->
												<iframe height="200" frameborder="0" scrolling="no"
													marginheight="0" marginwidth="0"
													src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Google+India+Bangalore,+Bennigana+Halli,+Bangalore,+Karnataka&amp;aq=0&amp;oq=google+&amp;sll=9.930582,78.12303&amp;sspn=0.192085,0.308647&amp;ie=UTF8&amp;hq=Google&amp;hnear=Bennigana+Halli,+Bangalore,+Bengaluru+Urban,+Karnataka&amp;t=m&amp;ll=12.993518,77.660294&amp;spn=0.012545,0.036006&amp;z=15&amp;output=embed"></iframe>
											</div>

											<!-- Address section -->
											<h5>Endereço</h5>
											<hr />
											<div class="address">
												<address>
													<strong>Pestana Locadora LTDA.</strong><br> Rua
													Evaristo da Veiga 35/1501<br> Rio de Janeiro, BR<br>
													<abbr title="Phone">Tel:</abbr> (55)-021-7898-9071.
												</address>
											</div>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock %}
