<!-- import template -->
{% extends 'template.html' %} {% block conteudo%}
<div class="content">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="about">
					<div class="row">
						<div class="span12">
							<div class="about-hero">
								<p>
									<span class="hightlight"> A Empresa</span>. Somos uma empresa
									especializada em transporte executivo e turismo receptivo
									promovendo maior diferencial e qualidade dos nossos serviços,
									nas melhores tarifas do mercado. Se você procura conforto e
									segurança no seu deslocamento para eventos ou viagens,
									encontrou a opção certa. Disponibilizamos para você van
									executiva, com 15 lugares, banco de couro, ar-condicionada, som
									ambiente com dvd.
								</p>
							</div>

							<!-- Teams -->

							<div class="teams">
								<div class="row">
									<div class="span3">
										<!-- Staff #1 -->
										<div class="staff">
											<!-- Picture -->
											<div class="pic">
												<img src="img/ducato1.jpg" alt="">
											</div>
											<!-- Details -->
											<div class="details">
												<!-- Name and designation -->
												<div class="desig pull-left">
													<p class="name">Ravi Kumar</p>
												</div>
												<!-- Social media details. Replace # with profile links -->
												<div class="asocial pull-right">
													<a href="#"><i class="icon-facebook"></i></a> <a href="#"><i
														class="icon-twitter"></i></a> <a href="#"><i
														class="icon-linkedin"></i></a>
												</div>
												<div class="clearfix"></div>
												<!-- Description -->
												<p class="adesc">Oferecer aos nossos clientes locação de
													van executiva com motorista para transporte para viagens ou
													eventos.</p>
											</div>
										</div>
									</div>
									<div class="span3">
										<!-- Staff #2 -->
										<div class="staff">
											<div class="pic">
												<img src="img/ducato2.jpg" alt="">
											</div>
											<div class="details">
												<div class="desig pull-left">
													<p class="name">Santhosh Kumar</p>
												</div>
												<div class="asocial pull-right">
													<a href="#"><i class="icon-facebook"></i></a> <a href="#"><i
														class="icon-twitter"></i></a> <a href="#"><i
														class="icon-linkedin"></i></a>
												</div>
												<div class="clearfix"></div>
												<p class="adesc">Oferecer aos nossos clientes locação de
													van executiva com motorista para transporte para viagens ou
													eventos.</p>
											</div>
										</div>
									</div>
									<div class="span3">
										<!-- Staff #3 -->
										<div class="staff">
											<div class="pic">
												<img src="img/ducato3.jpg" alt="">
											</div>
											<div class="details">
												<div class="desig pull-left">
													<p class="name">Ashok Kumar</p>
												</div>
												<div class="asocial pull-right">
													<a href="#"><i class="icon-facebook"></i></a> <a href="#"><i
														class="icon-twitter"></i></a> <a href="#"><i
														class="icon-linkedin"></i></a>
												</div>
												<div class="clearfix"></div>
												<p class="adesc">Oferecer aos nossos clientes locação de
													van executiva com motorista para transporte para viagens ou
													eventos.</p>
											</div>
										</div>
									</div>
									<div class="span3">
										<!-- Staff #4 -->
										<div class="staff">
											<div class="pic">
												<img src="img/ducato3.jpg" alt="">
											</div>
											<div class="details">
												<div class="desig pull-left">
													<p class="name">Babu Kumar</p>
													<em>CMO of Erica</em>
												</div>
												<div class="asocial pull-right">
													<a href="#"><i class="icon-facebook"></i></a> <a href="#"><i
														class="icon-twitter"></i></a> <a href="#"><i
														class="icon-linkedin"></i></a>
												</div>
												<div class="clearfix"></div>
												<p class="adesc">Oferecer aos nossos clientes locação de
													van executiva com motorista para transporte para viagens ou
													eventos.</p>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}
