<!-- import template -->
{% extends 'template.html' %} {% block conteudo%}
<div class="content">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="about">
					<div class="row">
						<div class="span12">
							<div class="about-hero">
								<p align="justify">
									Somos uma empresa
									especializada em transporte executivo e turismo receptivo
									promovendo maior diferencial e qualidade dos nossos serviços,
									nas melhores tarifas do mercado. Se você procura conforto e
									segurança no seu deslocamento para eventos ou viagens,
									encontrou a opção certa.
								</p>
							</div>

							<!-- Teams -->

							<div class="teams">
								<div class="row">
									<div class="span6">
										<!-- Staff #1 -->
										<div class="staff">
											<!-- Picture -->
											<div class="pic">
												<img src="img/ducato3.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="span6">
										<!-- Staff #2 -->
										<div class="staff">
											<div class="pic">
												<img src="img/ducato2.jpg" alt="">
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}
