{%extends 'template.html'%} {% block conteudo%}
<div class="content">
	<div class="container">
		<div class="row">
			<div class="span12">

				<div class="servic">
					<div class="row">
						<div class="span12">

							<div class="hero">
 								<h3>
									<span>Serviço</span>
								</h3>
								<!-- para -->
								<p>Disponibilizamos para você van
									executiva, com 15 lugares, banco de couro, ar-condicionada, som
									ambiente com dvd. Abaixo estão listados alguns dos serviços que executamos.</p>
							</div>
							<!-- Service -->

							<!-- Service list. Note down the class name before editing. -->
							<div class="row">
								<div class="span12">

									<!-- Service 1. Class name - "serv-a" -->
									<div class="serv-a">
										<div class="serv">
											<h4>Viagens</h4>
										</div>
									</div>

									<!-- Service 2. Class name - "serv-b" -->
									<div class="serv-b">
										<div class="serv">
											<h4>Passeios</h4>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="row">
								<div class="span12">

									<!-- Service 3. Class name - "serv-a" -->
									<div class="serv-a">
										<div class="serv">
											<h4>Eventos</h4>
										</div>
									</div>

									<!-- Service 4. Class name - "serv-b" -->
									<div class="serv-b">
										<div class="serv">
											<h4>Excursões</h4>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="row">
								<div class="span12">

									<!-- Service 1. Class name - "serv-a" -->
									<div class="serv-a">
										<div class="serv">
											<h4>Shows</h4>
										</div>
									</div>

									<!-- Service 2. Class name - "serv-b" -->
									<div class="serv-b">
										<div class="serv">
											<h4>Transfer</h4>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="row">
								<div class="span12">

									<!-- Service 3. Class name - "serv-a" -->
									<div class="serv-a">
										<div class="serv">
											<h4>City Tour</h4>
										</div>
									</div>

									<!-- Service 4. Class name - "serv-b" -->
									<div class="serv-b">
										<div class="serv">
											<h4>Receptivos em aeroportos</h4>
										</div>
									</div>

									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
