{%extends 'template.html'%} {% block conteudo%}
<div class="content">
	<div class="container">
		<div class="row">
			<div class="span12">

				<div class="servic">
					<div class="row">
						<div class="span12">

							<div class="hero">
 								<h3>
									<span>Veículo</span>
								</h3>
								<!-- para -->
								<p>Disponibilizamos para você van
									executiva, com 15 lugares, banco de couro, ar-condicionada, som
									ambiente com dvd.</p>
							</div>
							<!-- Service -->

							<div class="teams">
								<div class="row">
									<div class="span4">
										<div class="staff">
											<!-- Picture -->
											<div class="pic">
												<img src="img/ducato3.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="span4">
										<div class="staff">
											<div class="pic">
												<img src="img/ducato2.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="span4">
										<div class="staff">
											<div class="pic">
												<img src="img/ducato2.jpg" alt="">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="span4">
										<div class="staff">
											<!-- Picture -->
											<div class="pic">
												<img src="img/ducato3.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="span4">
										<div class="staff">
											<div class="pic">
												<img src="img/ducato2.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="span4">
										<div class="staff">
											<div class="pic">
												<img src="img/ducato2.jpg" alt="">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="span4">
										<div class="staff">
											<!-- Picture -->
											<div class="pic">
												<img src="img/ducato3.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="span4">
										<div class="staff">
											<div class="pic">
												<img src="img/ducato2.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="span4">
										<div class="staff">
											<div class="pic">
												<img src="img/ducato2.jpg" alt="">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="span4">
										<div class="staff">
											<!-- Picture -->
											<div class="pic">
												<img src="img/ducato3.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="span4">
										<div class="staff">
											<div class="pic">
												<img src="img/ducato2.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="span4">
										<div class="staff">
											<div class="pic">
												<img src="img/ducato2.jpg" alt="">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
